__pycache__/
*.py[cod]
*$py.class

# Python cache and compiled files
*.so
*.egg
*.egg-info
dist/
build/
.eggs/
pip-wheel-metadata/
*.log
*.pot
*.mo

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Model and Data
models/*.h5
*.h5
test_images/
